.wrapper {
    display: grid;
    grid-gap: 10px;
    margin: 0 auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 450px 450px 450px;
    background-color: #fff;
    color: #444;
  }

  .box {
    background-color: #aaa;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2rem;

  }

  .a {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .b {
    grid-column: 3 ;
    grid-row: 1/4;
  }
  .c {
    grid-column: 1 ;
    grid-row: 2 ;
  }
  .d {
    grid-column: 2;
    grid-row: 2;
  }
  .e {
      grid-column: 1;
      grid-row: 3;
  }
  .f {
    grid-column: 2;
    grid-row: 3;
}

nav{
    width: 100%;
    margin-bottom: 0.2rem;
}

nav li{
    display: inline;
    float: left;
}
nav a{
    display: block;
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
nav  li {
    float: left;
  }
  
nav  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 1rem;
    margin: 0.5rem;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  }

 nav ul{
     color: #aaa;
     font-size: 0.9rem;
 } 